.primary-button {
    @include transition;

    flex-shrink: 0;

    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding: 0;

    background-color: transparent;


    &:hover {
        opacity: 0.8;
    }
}