.quests-list-tooltip {
    position: relative;

    &__icon {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        
        cursor: pointer;

        &:hover + .quests-list-tooltip__text {
            transform: scale(1);
        }
    }

    &__text {
        @include transition;

        position: absolute;
        top: 20px;
        left: 0;
        
        transform: scale(0);
        transform-origin: top left;
        
        width: max-content;
        max-width: 200px;
        max-height: 200px;
        border: 1px solid #DAE5E4;
        border-radius: 4px;
        padding: 6px;

        overflow: auto;
        background-color: #fff;
    }
}
